body {
    width: 50%;
    max-width: 800px;
    min-width: 480px;
    margin: 0 auto;
    font-family: sans-serif;
}

.hiNum div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hiNum div > input {
    width: 48%;
}

.hiNum div > input:nth-child(odd) {
    margin: 0 10px 10px 0;
}

.hiNum div > input:nth-child(even) {
    margin: 0 0 10px 0;
}

#showVal {
    white-space: pre;
}